body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

#chat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.chatArea {
    height: 81vh;
}
#messages
{
    padding-left: 10px;
}
.message,.newuser,.WhispMessage
{
    list-style: none;
}
.newuser
{
    color: green;
    font-weight: bold;
    font-style: italic;
    font-size: 0.7em;
    text-align: center;
}
.username
{
    font-weight: bold;
    color: red;
}

.input {
    width: 95%;
    bottom: 0;
    border-radius: 0;
}


.form-control:focus, .form-control:active:focus{
    outline:none;
    box-shadow:none;
    border: 1px solid black;
}


.WhispMessage
{
    color: blue;
}

